@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.oswald-text {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  width: 100vw;
  height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  background: url(../img/beer.avif) repeat;
  filter: grayscale(100%);
  opacity: 0.1;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 60px 40px;
  position: relative;
  z-index: 2;
  max-width: 1440px;
}

.beer__title {
  font-size: 48px;
}
.beer__subtitle {
  padding: 20px 0 0;
  font-size: 30px;
}
.beer__photo-block {
  display: flex;
  gap: 32px;
  padding: 40px 0;
}
.beer__text {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}
.beer__text__start {
  text-align: center;
  padding: 10px 0 0;
}
.beer__text-animation {
  font-size: 20px;
  width: 100%;
}
.beer__text__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.beer__photo {
  filter: grayscale(80%);
  max-width: 400px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.beer__ai {
  display: grid;
  grid-template: repeat(2, auto)/1fr 400px;
  padding: 40px 0;
  row-gap: 20px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.beer__ai__wrapper {
  width: 1000px;
  display: block;
  position: relative;
}
.beer__ai__wrapper::before {
  content: "";
  position: absolute;
  left: -20px;
  transform: translate(-100%, 0);
  width: 50px;
  height: 50px;
  top: 0;
  background-image: url(../img/copilot.png);
}
.beer__ai__question {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.beer__faq {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
}
.beer__faq__title {
  padding: 0 0 40px;
}
.beer__faq__item {
  overflow: hidden;
}
.beer__faq__item__question {
  padding: 0;
}
.beer__faq__item__container {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-bottom: 1px solid black;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.beer__faq__item__container::before {
  content: "";
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  width: 30px;
  transform: rotate(-180deg);
  transition: 400ms ease transform;
  height: 30px;
  right: 0;
}
.beer__faq__item__container_opened::before {
  transform: rotate(0deg);
}
.beer__faq__item__wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: 400ms all ease;
  padding: 0 0 0;
}
.beer__faq__item__wrapper_opened {
  padding: 20px 0 0;
  grid-template-rows: 1fr;
}

@keyframes cursor {
  0% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}
@keyframes printed_text {
  from {
    width: 0;
  }
}